/* Copied from fonts.google.com */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

/* Apply to everything on page */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex; /* Creates flex box. Defaults to horizontal lists */
    flex-direction: column; /* Adjust flex to go vertical */
    align-items: center; /*  */
    justify-content: center; /* */
    height: 100vh; /* Sets flex box height. View port height = take up the entire height of the browser */
    overflow: hidden; /* Hide scroll bars by default */
    margin: 0;
}