/* Copied from fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

/* Apply to everything on page */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #333333;
    color: #222222;
    overflow-x: hidden; /* Hide scroll bars on X axis only by default */
    margin: 0;
}

.container {
    background-color: #fafafa
}

.container.show-nav {
    transform: rotate(-20deg);
}